# Environments
.env
.venv
env/
venv/
ENV/

# Python cache
/__pycache__
/*/__pycache__
/*/*/__pycache__
/*/*/*/__pycache__
/*/*/*/*/__pycache__

#Pytest cashe
.pytest_cache

#mypy cache
.mypy_cache

# IDE Settings
.idea/
.vscode/

#Test db
test.db

# Docker-compose postgres files
postgres-data
pg