# Environments
.env
.venv
env/
venv/
ENV/

# Python cache
/__pycache__
/*/__pycache__
/*/*/__pycache__
/*/*/*/__pycache__
/*/*/*/*/__pycache__

#Pytest cashe
.pytest_cache

# IDE Settings
.idea/
.vscode/

# Developement config
dev_conf.toml